@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;300;400;500;600;700;800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,700;1,900&display=swap');

html{
    scroll-behavior: smooth;
}
.arrow{
    width: 5vw;
    height: 5vw;
    position: relative;
    bottom: -15%;
    border-radius: 10vw;
    border: .1rem rgba(37, 37, 37, 0.603) solid;
    animation: upNdown alternate infinite 1s;
}
.l_arrow{
    margin: 1rem auto;
    width: .2vw;
    height: 2vw;
}

.l_arrow::after{
    position: absolute;
    width: .1vw;
    height: 1.5vw;
    content: ' ';
    transform: rotate(45deg);
    background-color: rgba(37, 37, 37, 0.603);
    top: 37%;
    right: 38%;
    border-radius: 1rem;
}
.l_arrow::before{
    position: absolute;
    width: .1vw;
    height: 1.5vw;
    content:' ';
    transform: rotate(-45deg);
    background-color: rgba(37, 37, 37, 0.603);
    top: 37%;
    left: 38%;
    border-radius: 1rem;
}
.arrow:hover{
    transition: all 0.3s ease-in-out;
    filter: invert();
}

header{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: rgb(255, 255, 255);
    width: 100%;
    top: 0%;
    align-items: center;
    padding: 2rem;
}
header>img{
    max-width: 8rem;
}
nav>ul{
    display: flex;
    font-family: 'Anek Latin';
    justify-content: flex-end;
    margin-right: 2rem;
    font-size: 2rem;
    gap: 2rem;
    font-weight: 500;
}
ul>Li>a{
    color: rgb(61, 61, 61);
}

.HeroBan{
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:radial-gradient(
        rgba(43, 43, 43, 0.692)8%,
        transparent 8%
    );
    background-position: 0% 0%;
    background-size: 2vmin 2vmin;
    border: thin rgb(255, 255, 255) solid;
    border-radius: 4rem;
    width: 100%;
    box-shadow: rgb(255, 255, 255) inset 0px 0px 1000px 100px ;
}
.HeroBan>h1{
    font-size: 8rem;
    font-family: 'Roboto';
    font-weight: 900;
    color: rgb(61, 61, 61);
    background-color: #fff;
    padding: 8rem;
    border-radius: 16rem;
    margin-bottom: 4rem;
}
.HeroBan>.btn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.HeroBan>.btn>a{
    padding: 2rem 4rem 2rem 4rem;
    border: .5rem rgb(89, 147, 255) solid;
    border-radius: 4rem;
    background-color: #fff;
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Roboto';
    color: rgb(89, 147, 255);
    cursor: pointer;
    text-align: center;
}
.HeroBan>.btn>a:nth-child(2){
    color: #fff;
    background-color: rgb(89, 147, 255);
}

.test-content{
    background:radial-gradient(
        rgba(88, 88, 88, 0.548)8%,
        transparent 8%
    );
    background-position: 0% 0%;
    background-size: 2vmin 2vmin;
    width: 100%;
    height:  100%;
}
.about{
    height: 90vh;
    background-color: rgb(255, 255, 255);
}
figure{
    display: flex;
    flex-direction: column;
    background:radial-gradient(
        rgba(43, 43, 43, 0.692)8%,
        transparent 8%
    );
    background-position: 0% 0%;
    background-size: 2vmin 2vmin;
    border: thin rgb(255, 255, 255) solid;
    border-radius: 4rem;
    width: 100%;
    box-shadow: rgb(255, 255, 255) inset 0px 0px 1000px 100px ;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
figcaption{
    height: 20vh;
    width: 20vh;    
    background-image: radial-gradient(circle at 53.78% 6.83%, #bd94ff 0, #8c79fb 25%, #3c60f2 50%, #004ce9 75%, #003ee0 100%);
    border-radius: 10vh;
    box-shadow: 0px 1px 2px rgba(255, 255, 255, 0);
}
figcaption:nth-child(2){
    height: 20vh;
    width: 40vh;    
    background-image: radial-gradient(circle at 53.78% 6.83%, #bd94ff 0, #8c79fb 25%, #3c60f2 50%, #004ce9 75%, #003ee0 100%);
    border-radius: 20vh 0 20vh 0;
    box-shadow: 0px 1px 2px rgba(255, 255, 255, 0);
}
.skills{
    height: 90vh;
    background-color: rgb(255, 255, 255);
}

.blob { 
    width: 10rem;
    height: 10rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;utf8, %3Csvg width=%22100%25%22 height=%22100%25%22 viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 %3E %3Cdefs%3E %3CradialGradient id=%22radialGradientId%22 r=%22100%25%22 cx=%2250%25%22 cy=%2250%25%22 %3E %3Cstop offset=%220%25%22 stop-color=%22%2300DBDE%22 %2F%3E %3Cstop offset=%22100%25%22 stop-color=%22%23FC00FF%22 %2F%3E %3C%2FradialGradient%3E %3CclipPath id=%22shape%22%3E %3Cpath fill=%22currentColor%22 d=%22M638.5%2C699.5Q500%2C899%2C275.5%2C699.5Q51%2C500%2C275.5%2C269Q500%2C38%2C638.5%2C269Q777%2C500%2C638.5%2C699.5Z%22%3E%3C%2Fpath%3E %3C%2FclipPath%3E %3C%2Fdefs%3E %3Cg clip-path=%22url(%23shape)%22%3E %3Cpath fill=%22url(%23radialGradientId)%22 d=%22M638.5%2C699.5Q500%2C899%2C275.5%2C699.5Q51%2C500%2C275.5%2C269Q500%2C38%2C638.5%2C269Q777%2C500%2C638.5%2C699.5Z%22 %2F%3E %3C%2Fg%3E %3C%2Fsvg%3E");
    box-shadow: inset 2rem .2rem .2rem .2rem;
  }
  .about{
      display: grid;
      grid-template-columns: repeat(2,1fr);
    font-family: 'Roboto';
  }
  .about article{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .about article h2{
      margin : 1rem;
      font-size: 6rem;
      font-weight: 900;
      color: rgb(61, 61, 61);
  }
  .about p{
      font-size: 2rem;
      margin: 1rem;
      max-width: 30vw;
  }
  .parcours {
      height: 70vh;
  }
  .parcours h2,.skills h2,.contact h2{
    font-family: 'Roboto';
    font-size: 6rem;
    font-weight: 900;
    color: rgb(61, 61, 61);
    text-align: center;
  }

  h1::after{
      animation: wording infinite 8s linear alternate;
      content: "";
  }
  .card-container{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      width: 100%;
      height: 35vw;
      gap: 2rem;
      font-family: 'Roboto';
      color: rgb(61, 61, 61);
      padding: 4rem;
      overflow: hidden;
  }
  .card-container>li>h3{
      text-align: center;
      font-size: 4rem;
      font-weight: 900;
      border-bottom: .4rem rgba(82, 79, 255, 0.521) solid;
      padding-bottom: 2rem;
  }

  .card-container>li{
      display: flex;
      flex-direction: column;
      border-radius: 4rem;
      padding: 4rem;

      background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;

    background-image:radial-gradient(
        rgba(43, 43, 43, 0.692)8%,
        transparent 8%
    );
    background-position: 0% 0%;
    background-size: 1vmin 1vmin;
    box-shadow: rgba(182, 182, 182, 0.658) 1px 1px 30px 2px;
    gap: 2rem;
    
  }
  .card-container>li>p{
      font-weight: 900;
      font-size: 3rem;
      text-align: center;
  }
  .card-container>li>p:nth-child(3){
      font-size: 2rem;
  }
  .card-container>li>ul>li{
      font-size: 1.6rem;
      list-style:circle;
      text-align: center;
  }
  .card-container{
      animation: slide ease-in-out 1.3s; 
  }
  .skills>h2,.contact h2{
      padding-top: 2rem;
      padding-bottom: 2rem;
      color: #fff;
  }
  .skills{
    color: #fff;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    height: fit-content;
    padding-bottom: 4rem;
 
  }
  .skills-list{
      display: flex;
      flex-direction: column;
      max-width: 80rem;
      margin: auto;
      gap: 2rem;
  }
  .skills-list>li{
      display: flex;
      padding: 2rem;
      border-radius: 1rem;
      background-color: white;
      color: rgb(37, 37, 37);
  }
  .skills-list>li>div{
      margin-left: 2rem;
  }
  .skills-list>li>img{
      width: 10rem;
      height: 10rem;
      border: thin rgb(37, 37, 37) solid;
      border-radius: 2rem;
  }
  .skills-list>li>div>h3{
      font-family: 'Roboto';
      font-size: 3rem;
      font-weight: 900;
      padding-bottom: .5rem;
      border-bottom: .25rem dashed rgba(82, 79, 255, 0.521);
      margin-bottom: .5rem;
  }
  .skills-list>li>div>p{
    font-family: 'Roboto';
    font-size: 2rem;
  }

  .contact{
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    height: 70vh;
  }
  .res{
      margin: auto;
      max-width: 80vw;
      border-radius: 2rem;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      background-color: rgb(46, 46, 46);
  }
  .res>li{
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 2rem;
      margin-bottom: 2rem;
      margin-top: 2rem;
  }
  .res>li>h3{
    font-size: 2rem;
    font-family: 'Roboto';
    font-weight: 900;
    color:  #fff;
  }
  .res>li>p{
      font-size: 2.4rem;
      font-weight: 900;
      font-family: 'Roboto';
      color: #fff;
  }
  .res>:nth-child(2){
      gap: 30%;
  }
  .res>li>a>img{
      width: 9vw;
      border-radius: 2rem;
  }
  footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-end: 1 3;
  }
  footer>div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #2e2e2e;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .med{
    display: flex;
    gap: 2rem;
    padding-left: 2rem;
  }
  .med>a>img{
    width: 4vw;
}
footer{
    color: #fff;
      font-family: 'Roboto';
}
footer>div>ul>li>a{
    color: #fff;
}
  footer>div>h2{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 900;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  footer>div>ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  footer>div>ul>li{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
  }
  footer>div>ul>li>a:hover{
    transition: 0.3s;
    color: #8d8d8d;
  }
  .copy_list {
    border-top: #646464 2px dotted;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 3rem;
    background-color: #2e2e2e;
    padding: 2rem;
    grid-column-end:span 3;
  }
  .copy_list>li>a,.copy_list>li{
      color: #fff;
      font-family: 'Roboto';
      font-size: 1.6rem;
  }
  

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }
    75%{
        transform: translateX(8%);
    }
    100%{
        transform: translateX(0%);
    }
}

  @keyframes wording {
    0% {
        content: "Bonjour";
        color: rgb(61, 61, 61);
      }
      12.5% {
        color: white;
        
      }
      25% {
        content: "Hello";
        color: rgb(61, 61, 61);
      }
      37.5%{
          color: #fff;
      }
      50% {
          content: "Bonjourno";
          color: rgb(61, 61, 61);
      }
      62.5%{
        color: #fff;
      }
      75%{
        content: "Buenos Dias";
        color: rgb(61, 61, 61);
      }
      87.5%{
        color: white;
      }
      100%{
        content: "Guten tag";
        color: rgb(61, 61, 61);
      }
  }

  @keyframes upNdown {
      from{
          transform: translateY(0rem);
      }
      to{
          transform: translateY(1rem);
      }
  }
  @media  (max-width:917px) {
      header>nav>ul>li{
          font-size: 1.6rem;

      }
      .HeroBan>h1{
          padding: 1rem;
      }
      .HeroBan>.btn>a{
          padding-top: .5rem;
          padding-bottom: .5rem;
          padding-left: 1rem;
          padding-right: 1rem;
          align-content: center;
      }
      h1::after{
          font-size: 3rem;
      }
      .about>article>h2,.parcours>h2{
          font-size: 4rem;
      }
      .about>article>p{
          max-width: 90%;
          margin-bottom: 2rem;
      }
      .about{
          display: block;
      }
      .parcours{
          height: fit-content;
      }
      .card-container{
          display: grid;
          grid-template-columns: repeat(1,1fr);
          grid-template-rows: repeat(4,1fr);
          overflow:visible;
          height: 100%;
      }
      .skills-list{
          margin-left: 1rem;
          margin-right:1rem ;
      }
      .skills-list>li{
          flex-direction: column;
          text-align: center;
          align-items: center;
      }
      .contact{
        height: fit-content;
        padding-bottom: 2rem;
      }

      .res{
          display: block;
      }
      .res>li{
          margin: 0;
          gap: 0;
      }
      .res>li>a>img{
          width: 8rem;
          margin: 2rem;
      }
      .res>li>h3{
          font-size: 3rem;
          margin: 2rem;
      }
      .res>li>p{
          font-size: 2rem;
      }
      footer>div>h2{
          font-size: 1.6rem;
      }
      .med>a>img{
          width: 5rem;
      }
      .copy_list>li,.copy_list>li>a{
          font-size: 1rem;
      }
  }